---
import Layout from "../layouts/Layout.astro";
import Description from "../components/Description.astro";
import PhoneDemo from "../components/PhoneDemo.astro";
---

<Layout title="Chat App">
	<main>
		<PhoneDemo />
		<Description />
		<div class="attribution">
			Challenge by <a
				href="https://www.frontendmentor.io?ref=challenge"
				target="_blank">Frontend Mentor</a
			>. Coded by <a href="#">Your Name Here</a>.
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		background-color: lightblue;
	}
	.attribution {
		font-size: 11px;
		text-align: center;
	}
	.attribution a {
		color: hsl(228, 45%, 44%);
	}
</style>
