---
import Layout from "../layouts/Layout.astro";
import Description from "../components/Description.astro";
import PhoneDemo from "../components/PhoneDemo.astro";
---

<Layout title="Chat App">
	<main>
		<div class="content">
			<PhoneDemo />
			<Description />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 50rem;
	}
	.content {
		position: absolute;
		top: 25%;
		max-width: 50rem;
		display: flex;
		flex-direction: row;
	}
</style>
