---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="left-drip"></div>

		<slot />

		<div class="right-drip"></div>
	</body>
</html>

<style>
	body {
		background-color: hsl(0, 0%, 100%);
		font-family: "Rubik", sans-serif;
	}

	.left-drip {
		position: fixed;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		bottom: 200px;
		left: -200px;
		width: 750px;
		height: 85%;
		background: rgb(131, 58, 180);
		background: linear-gradient(
			40deg,
			hsl(264, 100%, 61%) 30%,
			hsl(293, 100%, 63%)
		);
		z-index: -1;
	}

	.right-drip {
		position: fixed;
		top: 200px;
		right: -200px;
		width: 750px;
		height: 85%;
		background-color: hsl(270, 25%, 97%);
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
		z-index: -1;
	}
</style>
